
:host {
  display: block;
  max-width: 900px; 
  margin: 30px auto; 
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: transparent;
}

h2 {
  font-size: 2.5em; 
  font-weight: 700;
  color: #222; 
  text-align: center; 
  margin-bottom: 30px; 
  border-bottom: 2px solid #00334e;
  padding-bottom: 10px; 
}

ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  flex-direction: column;
  gap: 20px;
}

li {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  font-size: 1.2em;
  font-weight: 600;
  /* color: #333; */
  padding: 20px; 
  min-height: 170px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

li:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-color: #00334e;
    /* border-color: #ffffff; */
}