h2 {
  text-align: center;
  color: var(--color-texto);
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 30px;
}

.menu-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.admin-menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-menu-grid li a {
  display: block; 
  padding: 25px 20px; 
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  color: var(--color-texto-tarjeta);
  border: 1px solid var(--color-borde);
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
  font-weight: 600;
  font-size: 1.1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

span{
    color: var(--color-texto-tarjeta);
}

.admin-menu-grid li a:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .admin-menu-grid {
    grid-template-columns: 1fr;
  }

  .menu-container {
    padding: 10px;
  }
}

.rotate {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    will-change: transform; 
    animation-name: rotate;
  }
  
  @keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }