
.admin-container {
  max-width: 900px;
  margin: 40px auto 40px auto;
}

.btn-volver {
  display: block; 
  text-align: left; 
  margin: 10px auto 0 0; 
  width: fit-content;
  background: none;
  border: none;
  font-size: 1.1rem;
  color: var(--color-texto); 
  cursor: pointer;
  margin-bottom: 20px;
}
.btn-volver:hover {
  text-decoration: underline;
}

h2 {
  font-size: 2.3rem;
  text-align: center;
  color:var(--color-texto); 
  margin-bottom: 25px;
  margin-top: 25px;
  border-bottom: none; 
  padding-bottom: 15px;
  position: relative; 
}

h2::after {
  content: ''; 
  display: block;
  width: 600px; 
  height: 2px; 
  background-color: var(--color-texto); 
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 24px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

label {
  display: block;
  margin-top: 20px; 
  margin-bottom: 6px;
  font-weight: 600;
  color: #555;
  font-size: 0.9rem;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="password"],
input[type="file"],
select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
  background-color: #fcfcfc;
  font-family: inherit; 
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="datetime-local"]:focus,
input[type="file"]:focus,
select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.25);
  outline: none;
}

input[readonly] {
  background-color: #e9ecef; 
  cursor: not-allowed; 
  opacity: 0.8;  
}

.goles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 30px; 
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #28a745; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #218838;
}

button[type="submit"]:disabled {
  background-color: #e9ecef; 
  cursor: not-allowed;
  transform: none;
}

.validation-error p {
  color: #dc3545; 
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 5px; 
  margin-bottom: 0;
}

.is-invalid {
  border-color: #dc3545 !important; 
  box-shadow: 0 0 0 0.16rem rgba(220, 53, 69, 0.25);
}