.detalle-jugador-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.titulo-pagina {
  font-size: 2.5rem;
  border-bottom: 1.5px solid var(--color-texto);
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: var(--color-texto);
  text-align: center;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  overflow: hidden; 
}

.card-foto {
  flex-basis: 200px; 
  flex-shrink: 0;
  background-color: #f4f4f4; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  
  padding: 10px;
}

.card-foto img {
  width: 350px; 
  height: 350px; 
  
  border-radius: 8px; 
  object-fit: cover; 
  border: 1px solid #e0e0e0; 
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
}

.card-info {
  padding: 24px;
}

.card-info h3,
.card-estadisticas h3 {
  margin-top: 0;
  color: #1a1a1a;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 8px;
}

.info-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-lista li {
  font-size: 1rem;
  color: #555;
  padding: 8px 0;
}
.info-lista li b {
  color: #333;
  width: 120px;
  display: inline-block; 
}

.card-estadisticas {
  padding: 24px;
}

.stats-lista {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  gap: 20px;
}

.stats-lista li {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.stat-numero {
  font-size: 1.8rem;
  font-weight: 700;
  color: #0056b3; 
  margin-left: 10px;
}

.info-lista li a {
  color: #0056b3; 
  text-decoration: none;
  font-weight: 600;
}

.info-lista li a:hover {
  text-decoration: underline;
}

.btn-volver {
  background: none;
  border: none;
  font-size: 1.1rem;
  color: var(--color-texto);
  cursor: pointer;
  margin: 10px 0 0 10px;
}
.btn-volver:hover {
  text-decoration: underline;
}