
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 24px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

h2 {
  font-size: 2.3rem;
  text-align: center;
  color: var(--color-texto);
  margin-bottom: 25px;
  margin-top: 25px;
  border-bottom: none; 
  padding-bottom: 15px;
  position: relative; 
}

h2::after {
  content: ''; 
  display: block;
  width: 600px; 
  height: 2px; 
  background-color: var(--color-texto); 
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

label {
  display: block;
  margin-top: 20px; 
  margin-bottom: 6px;
  font-weight: 600;
  color: #555;
  font-size: 0.9rem;
}

label[for="estado"] {
  display: block;
  margin-top: 20px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #555;
  font-size: 0.9rem;
}


input[type="text"],
input[type="date"],
input[type="file"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

input[type="text"],
input[type="date"] {
  background-color: #fcfcfc;
}

input[type="text"]:focus,
input[type="date"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.25);
  outline: none;
}

input[type="file"] {
  padding: 5px;
  background-color: #f9f9f9;
}

input[type="file"]::file-selector-button {
  font-weight: 600;
  color: #007bff;
  background-color: #e9ecef;
  border: none;
  border-right: 1px solid #ccc;
  padding: 8px 12px;
  margin-right: 12px;
  border-radius: 5px 0 0 5px; 
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #dde2e6;
}


button[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 30px; 
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #28a745; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #218838;
}

input[readonly] {
  background-color: #e9ecef; 
  cursor: not-allowed;     
  opacity: 0.8;             
}

.validation-error {
  color: #dc3545; 
  font-size: 0.9rem;
  margin-top: 4px;
  margin-bottom: 0;
}



.btn-volver {
  background: none;
  border: none;
  font-size: 1.1rem;
  color:var(--color-texto);
  cursor: pointer;
  margin: 10px 0 0 10px;
}

.btn-volver:hover {
  text-decoration: underline;
}