<nav class="navbar" [ngClass]="{'navbar-scrolled': isScrolled}">
  
  <div class="navbar-logo">
    <a routerLink="/es">
      <img src="/assets/img/logo.png" alt="Goal Manager Logo">
    </a>
  </div>

  <ul class="navbar-links">
    <li><a routerLink="/es">Inicio</a></li>
    <li><a routerLink="/noticias">Noticias</a></li>
    <li><a routerLink="/nosotros">Nosotros</a></li>
    <li><a routerLink="/contactos">Contactos</a></li>
  </ul>

  <div class="navbar-lang">
    <span>ES </span> | <span> EN</span>
  </div>

  <div class="navbar-auth">
    <a *ngIf="!isLoggedIn()" routerLink="/login">Login</a>
    <a *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
  </div>

  <button class="navbar-menu-btn">
    <span class="material-icons">
      m
    </span>
  </button>

</nav>