
.admin-container {
  max-width: 900px;
  margin: 40px auto 40px auto;
}

h2 {
  font-size: 2rem;
  color: var(--color-texto);
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1.9px solid var(--color-texto); 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.fila-clickeable {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px; 
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.3s ease-out; 
  margin-bottom: 15px; 
  border-radius: 8px; 
  border: 1px solid #ddd; 
}

li.fila-clickeable:last-child {
  margin-bottom: 0; 
}

li.fila-clickeable:hover {
  background-color: #f9f9f9;
  transform: scale(1.02); 
}

.item-info {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.item-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.item-nombre {
  font-size: 1.2rem;
  font-weight: 600;
  color: #444;
}

.action-buttons {
  display: flex;
  gap: 8px; 
}

li button {
  font-size: 0.9rem;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: var(--color-boton);
  transition: transform 0.15s ease-out, background-color 0.2s;
}

li button:hover {
  transform: scale(1.1);
    background-color: var(--color-boton-hover);
}

li button:active {
  transform: scale(1.0);
}

.empty-list {
  padding: 20px;
  text-align: center;
  color: #777;
}

.agregar-container {
  text-align: center;
  margin-top: 30px;
}

.btn-agregar { 
  display: inline-block;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--color-boton);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.15s ease-out, background-color 0.2s;
}

.btn-agregar:hover {
  background-color: var(--color-boton-hover);
  transform: scale(1.05); 
}

.btn-agregar:active {
  transform: scale(1.0);
}

.btn-volver {
  background: none;
  border: none;
  font-size: 1.1rem;
  color:var(--color-texto);
  cursor: pointer;
  margin: 10px 0 0 10px;
}

.btn-volver:hover {
  text-decoration: underline;
}

.card-foto img { 
  cursor: zoom-in;
  transition: transform 0.2s ease, opacity 0.2s ease; 
}

.card-foto img:hover {
  transform: scale(1.03); 
  opacity: 0.9; 
}