
.admin-container {
  max-width: 900px;
  margin: 40px auto 40px auto;
}


h3 {
  font-size: 2rem;
  color: var(--color-texto);
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative; 
}


h3::after {
  content: ''; 
  display: block;
  width: 600px; 
  height: 3px; 
  background-color: var(--color-texto); 
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.fila-clickeable {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 25px 30px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.3s ease-out; 
  margin-bottom: 15px; 
  border-radius: 8px; 
  border: 1px solid var(--color-borde); 
}

li.fila-clickeable:last-child {
  margin-bottom: 0; 
}

li.fila-clickeable:hover {
  transform: scale(1.02);
}

.item-info {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.item-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 8px;
}

.item-foto-jugador { 
  border-radius: 50%;
  object-fit: cover; 
}

.item-nombre {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-texto-tarjeta);
}

.action-buttons {
  display: flex;
  gap: 8px; 
}

li button {
  font-size: 0.9rem;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: transform 0.15s ease-out, background-color 0.2s;
}

li button:hover {
  transform: scale(1.1);
}

li button:active {
  transform: scale(1.0);
}

.empty-list {
  padding: 20px;
  text-align: center;
  color: #777;
}

.agregar-container {
  text-align: center;
  margin-top: 30px;
}

.btn-agregar { 
  display: inline-block;
  padding: 20px 24px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--color-boton);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.15s ease-out, background-color 0.2s;
}

.btn-agregar:hover {
  background-color: var(--color-boton-hover);
  transform: scale(1.05); 
}

.btn-agregar:active {
  transform: scale(1.0);
}


.btn-volver {
  display: block; 
  text-align: left; 
  margin: 10px auto 0 0; 
  width: fit-content;
  background: none;
  border: none;
  font-size: 1.1rem;
  color: var(--color-texto);
  cursor: pointer;
  margin-bottom: 20px;
}
.btn-volver:hover {
  text-decoration: underline;
}

.card-foto-ul img{   
  cursor: zoom-in;
  transition: transform 0.2s ease, opacity 0.2s ease; 
}

.card-foto-ul img:hover {
  transform: scale(1.03); 
  opacity: 0.9;
}

.heartbeat {
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes heartbeat {
    0% {transform: scale(1);}
    25% {transform: scale(1.3);}
    50% {transform: scale(1);}
    75% {transform: scale(0.7);}
    100% {transform: scale(1);}
  }