
<button (click)="goBack()" class="btn-volver">&larr; {{ 'fixtureDetalles.botonVolver' | transloco }}</button>

<div class="admin-container" data-aos="fade-up">

  <h2 class="titulo-pagina-principal">{{ equipoNombre }}</h2>

  <hr class="section-divider">

  <h3>Director Técnico</h3>

<ul>
  @if (dt) {
    <li class="fila-clickeable">
      
      <div class="item-info">
          <img  [src]="dt?.foto ? dt?.foto : 'assets/icons/persona.png'"  [alt]="dt.nombre" class="item-logo item-foto-jugador">
          <span class="item-nombre">{{dt.nombre}}</span>
        </div>
      
      <div class="action-buttons">
        <button class="btn-detalles"
                [routerLink]="['/dt-detalles-admin/', dt.id]" 
                (click)="$event.stopPropagation()">
          Detalles
        </button>
        
        <button class="btn-editar"
                [routerLink]="['/dt-formulario-admin/', dt.id]" 
                (click)="$event.stopPropagation()">
          Editar
        </button>
        
        <button class="btn-eliminar" 
                (click)="sacarDt(dt); $event.stopPropagation()">
          Sacar
        </button>
        </div>
    </li>
  } @else {
    <p class="empty-list">No hay DT asignado a este equipo.</p>
    <div class="agregar-container">
  <button class="btn-agregar" 
          [routerLink]="['/dt-formulario-admin']"> 
    Asignar DT
  </button>
</div>
  }
</ul>


  <hr class="section-divider">

  <h3>Lista de Jugadores</h3>

  <ul>
    @for (jugador of jugadores; track jugador.id) {
      <li class="fila-clickeable">
        
        <div class="item-info">
          <img [src]="jugador?.foto ? jugador?.foto : 'assets/icons/persona.png'" [alt]="jugador.nombre" class="item-logo item-foto-jugador">
          <span class="item-nombre">{{jugador.nombre}}</span>
        </div>
        
        <div class="action-buttons">
          <button class="btn-detalles"
                  [routerLink]="['/jugador-detalles-admin/', jugador.id]" 
                  (click)="$event.stopPropagation()">
            Detalles
          </button>
          
          <button class="btn-editar"
                  [routerLink]="['/jugador-formulario-admin/', jugador.id]" 
                  (click)="$event.stopPropagation()">
            Editar
          </button>
          
          <button class="btn-eliminar" 
                  (click)="deleteJugador(jugador.id!); $event.stopPropagation()">
            Eliminar
          </button>
        </div>
      </li>
    } @empty {
      <p class="empty-list">No hay jugadores registrados en este equipo.</p>
    }
  </ul>

  <div class="agregar-container">
    <button class="btn-agregar" [routerLink]="['/jugador-formulario-admin']"
    [queryParams]="{ equipoID: equipoId }">Agregar Jugador</button>
  </div>



  <hr class="section-divider">

<h3>Fixture del Equipo</h3>

<div class="fixture-list-wrapper">
  <ul class="fixture-list">
    @for (fixture of fixtures; track fixture.id) {
      <li class="fixture-item" [routerLink]="['/fixture-detalles-admin/', fixture.id]">

        <img [src]="getEscudo(fixture.equipoLocalID)" 
             [alt]="fixture.equipoLocalID">

        <div class="fixture-marcador">
          <span class="fixture-goles">{{ fixture.golesEquipo1 }}</span>
          <span class="fixture-estado">{{ fixture.estadoPartido }}</span>
          <span class="fixture-goles">{{ fixture.golesEquipo2 }}</span>
        </div>

        <img [src]="getEscudo(fixture.equipoVisitaID)" 
             [alt]="fixture.equipoVisitaID">

      </li>
    } @empty {
      <p class="empty-list">No hay fixtures cargados para este equipo.</p>
    }
  </ul>

</div>