.admin-container {
  max-width: 900px; 
  margin: 0 auto;  
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  font-size: 2rem;
  color: var(--color-texto);
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px; 
  margin-bottom: 30px;
  border-bottom: 2px solid var(--color-texto);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 900px;
}

li.fila-clickeable {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px; 
  background-color: #ffffff;
  transition: background-color 0.2s, transform 0.3s ease-out;
  cursor: pointer;
  margin-bottom: 20px; 
  border-radius: 8px; 
  border: 1px solid #ddd;
}

li.fila-clickeable:last-child {
   margin-bottom: 0;
}

li.fila-clickeable:hover {
  background-color: #f9f9f9;
  transform: scale(1.03);
}

.torneo-info {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.torneo-logo {
  width: 50px;
  height: 50px;
  object-fit: contain; 
  border-radius: 8px;
  background-color: #f4f4f4; 
}

.torneo-nombre {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-texto-tarjeta);
}

.action-buttons {
  display: flex;
  gap: 8px; 
}

li button {
  font-size: 0.9rem;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: transform 0.15s ease-out, background-color 0.2s;
}

li button:hover {
  transform: scale(1.1);
}

li button:active {
  transform: scale(1.0);
}

.btn-detalles {
  background-color: #0069d9;
  border: 1px solid #0062cc; 
}
.btn-detalles:hover {
  background-color: #0056b3; 
}

.btn-editar {
  background-color: #ffb60a; 
  color: #212529;
  border: 1px solid #e0a000;
}
.btn-editar:hover {
  background-color: #e0a000;
}

.btn-eliminar {
  background-color: #d93025; 
  border: 1px solid #c82333;
}
.btn-eliminar:hover {
  background-color: #c82333;
}

p.empty-list {
  padding: 20px;
  text-align: center;
  color: #777;
}

.agregar-container {
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 40px;
}

.btn-add-torneo { 
  display: inline-block;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  background-color: #28a745; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.15s ease-out, background-color 0.2s;

}

.btn-add-torneo:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.btn-add-torneo:active {
  transform: scale(1.0);
}

.btn-volver {
  background: none;
  border: none;
  font-size: 1.1rem;
  color:var(--color-texto);
  cursor: pointer;
  margin: 10px 0 0 10px;
}

.btn-volver:hover {
  text-decoration: underline;
}
