<button (click)="goBack()" class="btn-volver">&larr; {{ 'botonVolver' | transloco }}</button>

@if(equipoId){
<div class="admin-container">

  <h2>{{ 'dtPortal.miEquipo.titulo' | transloco }}</h2>

  @if (equipoActual) {
    <div class="card card-detalles" data-aos="fade-down">
      
      <h3 class="titulo-pagina">{{ equipoActual.nombre }}</h3>
      
      <div class="imagen-box card-foto">
        <img [src]="equipoActual.escudo ? equipoActual.escudo : 'assets/icons/icono.png'" 
        (click)="abrirImagen(equipoActual?.escudo || 'assets/icons/icono.png')"
             [alt]="'Escudo de ' + equipoActual.nombre">
      </div>

      <div class="detalle-datos">
        <h3>{{ 'dtPortal.miEquipo.detallesTitulo' | transloco }}</h3>
        <ul class="info-lista">
          <li>
            <b>{{ 'dtPortal.miEquipo.labelIdEquipo' | transloco }}</b> {{ equipoActual.id }}
          </li>
          <li>
          <b>{{ 'admin.equipoDetalles.torneo' | transloco }}</b> {{ torneoDelEquipo?.nombre }}
          </li>
          <li>
            <b>{{ 'dtPortal.miEquipo.labelIdTorneo' | transloco }}</b> {{ equipoActual.idTorneo }}
          </li>
        </ul>
      </div>
    </div>
  }

  <hr class="section-divider"> 
  
  <h3 class="subtitulo-seccion">
    {{ 'dtPortal.miEquipo.tituloPlantel' | transloco }} ({{ jugadores.length }} {{ 'dtPortal.miEquipo.textoJugadores' | transloco }})
  </h3>

  <ul>
    @for (jugador of jugadores; track jugador.id) {
      <li [routerLink]="['/jugador-details-admin', jugador.id]" class="fila-clickeable" data-aos="fade-up">
        
        <div class="item-info card-foto-ul">
          <img [src]="jugador?.foto ? jugador?.foto : 'assets/icons/persona.png'" 
          (click)="abrirImagen(jugador?.foto || 'assets/icons/persona.png'); $event.stopPropagation()"
               [alt]="jugador.nombre" 
               class="item-logo item-foto-jugador">
          <span class="item-nombre">{{jugador.nombre}}</span>
        </div>
        
        <div class="action-buttons">
          <button class="btn-detalles"
                  [routerLink]="['/dt-jugador-details/', jugador.id]"
                  [queryParams]="{ returnUrl: '/dt-mi-equipo'}"
                  (click)="$event.stopPropagation()">
            {{ 'dtPortal.miEquipo.botonDetalles' | transloco }}
          </button>
          
          <button class="btn-eliminar" 
                  (click)="sacarJugador(jugador); $event.stopPropagation()">
            {{ 'dtPortal.miEquipo.botonSacar' | transloco }}
          </button>
        </div>
      </li>
    } @empty {
      <p class="empty-list">{{ 'dtPortal.miEquipo.empty' | transloco }}</p>
    }
  </ul>
  
  <div class="agregar-container pulse">
    <button class="btn-agregar" [routerLink]="['/dt/dt-jugadores-libres']" [queryParams]="{ referrerId: currentUserId }">
      {{ 'dtPortal.miEquipo.botonVerLibres' | transloco }}
    </button>
  </div>

</div>
} @else{
  <div class="admin-container" style="padding: 40px; text-align: center;">
    
    <h3 class="subtitulo-seccion" style="color: #dc3545;">
      {{ 'dtPortal.noTeam' | transloco }}
    </h3>
    </div>
}