<div class="admin-container">

<h2>Mi equipo</h2>

  @if (equipoActual) {
    <div class="card card-detalles" data-aos="fade-down">
      
      <h3 class="titulo-pagina">{{ equipoActual.nombre }}</h3>
      
      <div class="imagen-box">
        <img [src]="equipoActual.escudo ? equipoActual.escudo : 'assets/icons/icono.png'" 
             [alt]="'Escudo de ' + equipoActual.nombre">
      </div>

      <div class="detalle-datos">
        <h3>Detalles del Equipo</h3>
        <ul class="info-lista">
          <li>
            <b>ID Equipo:</b> {{ equipoActual.id }}
          </li>
          <li>
            <b>ID Torneo:</b> {{ equipoActual.idTorneo }}
          </li>
        </ul>
      </div>
    </div>
  }

  <hr class="section-divider"> <h3 class="subtitulo-seccion">Mi Plantel ({{ jugadores.length }} jugadores)</h3>

  <ul>
    @for (jugador of jugadores; track jugador.id) {
      <li [routerLink]="['/jugador-details-admin', jugador.id]" class="fila-clickeable" data-aos="fade-up">
        
        <div class="item-info">
          <img [src]="jugador?.foto ? jugador?.foto : 'assets/icons/persona.png'" [alt]="jugador.nombre" class="item-logo item-foto-jugador">
          <span class="item-nombre">{{jugador.nombre}}</span>
        </div>
        
        <div class="action-buttons">
          <button class="btn-detalles"
                  [routerLink]="['/dt-jugador-details/', jugador.id]" 
                  (click)="$event.stopPropagation()">
            Detalles
          </button>
          
          <button class="btn-eliminar" 
                  (click)="sacarJugador(jugador); $event.stopPropagation()">
            Sacar
          </button>
        </div>
      </li>
    } @empty {
      <p class="empty-list">No hay jugadores registrados en tu equipo.</p>
    }
  </ul>
  
  <div class="agregar-container">
    <button class="btn-agregar" [routerLink]="['/dt-jugadores-libres']">
      Ver Jugadores Libres
    </button>
  </div>

</div>