<button (click)="goBack()" class="btn-volver">&larr; {{ 'admin.botones.volver' | transloco }}</button>

<div class="admin-container">

  <h2>{{ 'dtPortal.miEquipo.titulo' | transloco }}</h2>

  @if (equipoActual) {
    <div class="card card-detalles" data-aos="fade-down">
      
      <h3 class="titulo-pagina">{{ equipoActual.nombre }}</h3>
      
      <div class="imagen-box">
        <img [src]="equipoActual.escudo ? equipoActual.escudo : 'assets/icons/icono.png'" 
             [alt]="'Escudo de ' + equipoActual.nombre">
      </div>

      <div class="detalle-datos">
        <h3>{{ 'dtPortal.miEquipo.detallesTitulo' | transloco }}</h3>
        <ul class="info-lista">
          <li>
            <b>{{ 'dtPortal.miEquipo.labelIdEquipo' | transloco }}</b> {{ equipoActual.id }}
          </li>
          <li>
          <b>{{ 'admin.equipoDetalles.torneo' | transloco }}</b> {{ torneoDelEquipo?.nombre }}
          </li>
          <li>
            <b>{{ 'dtPortal.miEquipo.labelIdTorneo' | transloco }}</b> {{ equipoActual.idTorneo }}
          </li>
        </ul>
      </div>
    </div>
  }

  <hr class="section-divider"> 
  
  <h3 class="subtitulo-seccion">
    {{ 'dtPortal.miEquipo.tituloPlantel' | transloco }} ({{ jugadores.length }} {{ 'dtPortal.miEquipo.textoJugadores' | transloco }})
  </h3>

  <ul>
    @for (jugador of jugadores; track jugador.id) {
      <li [routerLink]="['/jugador-details-admin', jugador.id]" class="fila-clickeable" data-aos="fade-up">
        
        <div class="item-info">
          <img [src]="jugador?.foto ? jugador?.foto : 'assets/icons/persona.png'" 
               [alt]="jugador.nombre" 
               class="item-logo item-foto-jugador">
          <span class="item-nombre">{{jugador.nombre}}</span>
        </div>
        
        <div class="action-buttons">
          <button class="btn-detalles"
                  [routerLink]="['/dt-jugador-details/', jugador.id]" 
                  (click)="$event.stopPropagation()">
            {{ 'dtPortal.miEquipo.botonDetalles' | transloco }}
          </button>
          
          <button class="btn-eliminar" 
                  (click)="sacarJugador(jugador); $event.stopPropagation()">
            {{ 'dtPortal.miEquipo.botonSacar' | transloco }}
          </button>
        </div>
      </li>
    } @empty {
      <p class="empty-list">{{ 'dtPortal.miEquipo.empty' | transloco }}</p>
    }
  </ul>
  
  <div class="agregar-container">
    <button class="btn-agregar" [routerLink]="['/dt-jugadores-libres']">
      {{ 'dtPortal.miEquipo.botonVerLibres' | transloco }}
    </button>
  </div>

</div>