
h2 {
  font-size: 2.1rem;
  text-align: center;
  color: var(--color-texto);
  margin: 25px 0;
  margin-bottom: 25px;
  border-bottom: 2px solid var(--color-texto);
  padding-bottom: 15px;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 24px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

label {
  display: block;
  margin-top: 20px; 
  margin-bottom: 6px;
  font-weight: 600;
  color: #555;
  font-size: 0.9rem;
}

input[type="text"],
input[type="file"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.25);
  outline: none;
}

input[readonly] {
  background-color: #e9ecef; 
  cursor: not-allowed;     
  opacity: 0.8;             
}


input[type="file"] {
  padding: 5px; 
  background-color: #f9f9f9;
}

input[type="file"]::file-selector-button {
  font-weight: 600;
  color: #007bff;
  background-color: #e9ecef;
  border: none;
  border-right: 1px solid #ccc;
  padding: 8px 12px;
  margin-right: 12px;
  border-radius: 5px 0 0 5px; 
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #dde2e6;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 30px; 
  
  font-size: 1.1rem;
  font-weight: 600;
  
  background-color: #28a745;
  color: white;
  
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #218838;
}


.validation-error {
  color: #dc3545; 
  font-size: 0.9rem;
  margin-top: 4px;
  margin-bottom: 0;
}