h2 {
  font-size: 2.5em;
  font-weight: 700;
  color: #222;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #00334e; 
  padding-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
  display: flex;
  flex-direction: column; 
  gap: 15px; 
}

li {
  display: flex;         
  align-items: center;   
  
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

li:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

.team-crest {
  height: 50px;
  width: 50px;
  object-fit: contain; 
  margin-right: 20px;
  
  /* (Opcional) si tus escudos son redondos */
   /*border-radius: 50%; */
}

.team-name {
  font-size: 1.3em;
  font-weight: 600;
  color: #333;
}

p {
  text-align: center;
  font-size: 1.1em;
  color: #777;
  padding: 20px;
}