@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
    font-family: Arial, sans-serif;
    background-color: transparent;
    color: #333333;
}


:root {
  --color-fondo: #f4f4f4; /* El gris claro que tienes ahora */
  --color-texto: #333333; /* El texto oscuro */
  --color-tarjeta: #ffffff; /* El fondo de tus tarjetas (blanco) */
  --color-borde: #ddd; /* El borde de tus tarjetas */
  --color-header: #022031; /* El azul oscuro de tu header */
  --color-texto-header: #ffffff; /* El texto blanco del header */
}

/* 2. Colores para el Modo Oscuro */
body.dark-mode {
  --color-fondo: #121212; /* Fondo oscuro (no negro puro) */
  --color-texto: #e0e0e0; /* Texto claro */
  --color-tarjeta: #1e1e1e; /* Tarjetas oscuras */
  --color-borde: #444; /* Bordes más oscuros */
  --color-header: #1e1e1e; /* Header oscuro */
  --color-texto-header: #e0e0e0; /* Texto claro */
}

/* 3. Transición suave */
body, .card, .fila-clickeable, .navbar {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* ANTES */
body {
  background-color: #f4f4f4;
  color: #333333;
}

/* DESPUÉS */
body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
}



html{
  scroll-behavior: smooth;
}



body,
html {
  width: 100%;
  height: 100%;
}

/* body {
  background: radial-gradient(circle, rgb(10 60 202) 0%, #042e52 100%);
} */
/* 
svg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
} */


svg {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  
  z-index: -1; 
}

/* 2. Añade esta NUEVA regla para 'app-root' */
app-root {
  /* Esto asegura que tu app cree su propio "contexto" 
     y se quede por delante del fondo */
  position: relative;
  z-index: 1;
  
  /* Esto hace que el contenido ocupe espacio (opcional pero recomendado) */
  display: block; 
}