@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
    font-family: Arial, sans-serif;
    background-color: transparent;
    color: #333333;
}

html{
  scroll-behavior: smooth;
}



body,
html {
  width: 100%;
  height: 100%;
}

/* body {
  background: radial-gradient(circle, rgb(10 60 202) 0%, #042e52 100%);
} */
/* 
svg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
} */


svg {
  position: fixed; /* 'fixed' es mejor que 'absolute' para fondos */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  
  /* ESTA ES LA LÍNEA CLAVE: */
  z-index: -1; /* Envía el SVG a la capa de fondo (detrás de todo) */
}

/* 2. Añade esta NUEVA regla para 'app-root' */
app-root {
  /* Esto asegura que tu app cree su propio "contexto" 
     y se quede por delante del fondo */
  position: relative;
  z-index: 1;
  
  /* Esto hace que el contenido ocupe espacio (opcional pero recomendado) */
  display: block; 
}