h2 {
  font-size: 2.5rem;
  color: var(--color-texto-tarjeta);
  margin: 20px 0;
  
  
}

.card-detalle-admin {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 24px;
  margin: 20px auto;
  max-width: 900px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.detalle-imagenes {
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 30px;
  justify-items: center; 
  align-items: center;
  border-top: 1px solid #e7d4d4;
  border-bottom: 1px solid #e7d4d4;
  padding: 20px 0;
  margin-bottom: 20px;
}

.imagen-box {
  text-align: center;
}

.imagen-box h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-texto-tarjeta);
  margin-bottom: 15px;
}

.imagen-box img {
width: 200px;
  height: 200px;
  object-fit: contain; 
  border-radius: 8px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
}

.campeon-box img {
  width: 600px;  
  height: 400px; 
  object-fit: cover;  
}

.campeon-nombre {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10px;
  color: #000;
}

.detalle-datos h3 {
  font-size: 1.6rem;
  color: #333;
  margin-top: 0;
}

.info-lista {
  list-style: none;
  padding: 0;
  margin: 0;
    color: #000;
}

.info-lista li {
  padding: 10px;
  border-bottom: 1px solid #e7d4d4;
  display: flex;
  font-size: 1rem;
}

.info-lista li:last-child {
  border-bottom: none;
}

.info-lista li b {
  color: #111;
  width: 180px; 
  flex-shrink: 0;
}


.btn-volver {
  background: none;
  border: none;
  font-size: 1.1rem;
  color:var(--color-texto);
  cursor: pointer;
  margin: 10px 0 0 10px;
}

.btn-volver:hover {
  text-decoration: underline;
}