
.role-selector {
  display: flex;
  margin-bottom: 25px;
  border-radius: 8px; 
  overflow: hidden; 
  border: 1px solid #ddd;
}

.role-btn {
  flex: 1; 
  padding: 12px;
  border: none;
  background-color: #f4f4f4; 
  color: #888;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.role-btn:not(.active):hover {
  background-color: #e9e9e9;
}

.role-btn.active {
  background-color: var(--color-boton-login); 
  color: white;
}

.role-btn:first-child {
  border-right: 1px solid #ddd;
}


.login-container {
  max-width: 400px; 
  margin: 40px auto;  
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  color: #333;
}

form label {
  display: block; 
  margin-bottom: 8px;
  font-weight: 600;
  color: #555;
}

form input[type="email"],
form input[type="password"] {
  display: block; 
  width: 100%;    
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
  box-sizing: border-box; 
}

form button[type="submit"] {
  width: 100%; 
  padding: 14px;
  border: none;
  border-radius: 6px;
  background-color: var( --color-boton); 
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 10px; 
}

form button[type="submit"]:hover {
  background-color: var( --color-boton-hover);
  transform: scale(1.03);
}

.btn-volver {
  background: none;
  border: none;
  font-size: 1.1rem;
  color: var(--color-texto);
  cursor: pointer;
  margin: 10px 0 0 10px;
}
.btn-volver:hover {
  text-decoration: underline;
}