<!-- <nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{'navbar-scrolled': isScrolled}">
  
  <div class="container-fluid">
    
    <a class="navbar-brand" routerLink="/es">
      <div class="navbar-logo">
        <img src="/assets/img/logo.png" alt="Goal Manager Logo">
      </div>
    </a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" 
      [attr.aria-expanded]="!isMenuCollapsed" aria-controls="navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarContent">
      
      <ul class="navbar-nav mx-auto">
      
        <li class="nav-item ms-lg-3">
          <a class="nav-link" routerLink="/es" (click)="isMenuCollapsed = true">Inicio</a>
        </li>

        <li class="nav-item ms-lg-3">
          <a class="nav-link" routerLink="/es" fragment="noticias" (click)="isMenuCollapsed = true">Noticias</a>
        </li>

        <li class="nav-item ms-lg-3">
          <a class="nav-link" routerLink="/es" fragment="nosotros" (click)="isMenuCollapsed = true">Nosotros</a>
        </li>

        <li class="nav-item ms-lg-3">
          <a class="nav-link" routerLink="/es" fragment="contactos" (click)="isMenuCollapsed = true">Contactos</a>
        </li>
      </ul>

      <div class="language-switcher">
        <button (click)="cambiarIdioma('es')">ES</button>
        <span>|</span>
        <button (click)="cambiarIdioma('en')">EN</button>
      </div>

        <div class="contenedor-menu">

          <button (click)="toggleMenu()">Menú</button>

          <nav id="menu-desplegable" [class.visible]="menuVisible">
            <ul>
              <li><a [routerLink]="['/es/inicio-sesion']">Iniciar Sesion</a></li>
              <li><a href="#">modo oscuro</a></li>
            </ul>
          </nav>

        </div>

    </div>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{'navbar-scrolled': isScrolled}">
 
  <div class="container-fluid">
    
    <a class="navbar-brand" routerLink="/">
      <div class="navbar-logo">
        <img src="/assets/img/logo.png" alt="Goal Manager Logo">
      </div>
    </a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" 
      [attr.aria-expanded]="!isMenuCollapsed" aria-controls="navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarContent">
      
      <ul class="navbar-nav mx-auto">
      
        <li class="nav-item ms-lg-3">
          <a class="nav-link" routerLink="/" (click)="isMenuCollapsed = true">{{ 'header.inicio' | transloco }}</a>
        </li>

        <li class="nav-item ms-lg-3">
          <a class="nav-link" routerLink="/" fragment="noticias" (click)="isMenuCollapsed = true">{{ 'header.noticias' | transloco }}</a>
        </li>

        <li class="nav-item ms-lg-3">
          <a class="nav-link" routerLink="/" fragment="nosotros" (click)="isMenuCollapsed = true">{{ 'header.nosotros' | transloco }}</a>
        </li>

        <li class="nav-item ms-lg-3">
          <a class="nav-link" routerLink="/" fragment="contactos" (click)="isMenuCollapsed = true">{{ 'header.contactos' | transloco }}</a>
        </li>
      </ul>


      <div class="language-switcher">
        <button (click)="cambiarIdioma('es')">ES</button>
        <span>|</span>
        <button (click)="cambiarIdioma('en')">EN</button>
      </div>

      <div class="contenedor-menu">

        <button (click)="toggleMenu()">{{ 'header.menu' | transloco }}</button>

        <nav id="menu-desplegable" [class.visible]="menuVisible">
          <ul>
            <li><a [routerLink]="['/es/inicio-sesion']">{{ 'header.iniciarSesion' | transloco }}</a></li>
            <li>
                <button (click)="toggleDarkMode()">
                {{ 'header.modoOscuro' | transloco }}
                </button>
    </li>
          </ul>
        </nav>

      </div>

    </div>
  </div>
</nav>